.navbar {
    background-color: #F875AA;
    box-shadow: 0 0 0 5px #FFDFDF;
}

.nav-name-fry {
    font-family: 'Eczar', serif;
    color: #FFF6F6;
}

.nav-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #FFF6F6;
}